<h1>Editing Book</h1>


<!-- バリデーションエラーメッセージを表示 -->
<% if @book.errors.any? %>
  <%= @book.errors.count %> errors prohibited this book from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
<% end %>



<%= form_with model: @book, url: book_path(@book.id), method: :patch do |f| %>
  <label for="title">Title</label>
  <div class="form">
    <%= f.text_field:title %>
  </div>
  <label for="body">Body</label>
  <div class="form">
    <%= f.text_area:body %>
  </div>
  <div class="action">
    <%=f.submit "Update Book"%>
  </div>
<% end %>






<%= link_to "Show", book_path(@book.id) %>
<%= link_to "Back", "/books"%>


