<div class="flash">
  <%= flash[:notice] %>
</div>

<p>
  <strong>Title:</strong>  <!-- controllerのshowアクションに記述した@bookのデータのカラムを表示 -->
  <%= @book.title %>
</p>

<p>
  <strong>Body:</strong>  <!--# controllerのshowアクションに記述した@bookのデータのカラムを表示 -->
  <%= @book.body %></p>
</p>





<%= link_to "Edit", edit_book_path(@book.id) %>
 |
<%= link_to "Back", "/books"%>  <!-- /books(Prefix) => books の場合は記述は後ろにつかない。一覧画面へ -->